@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(4, 100%, 67%);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --font-primary: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-primary);
}

img {
  max-width: 100%;
}

picture.illustration source,
picture.illustration img {
  min-width: 100%;
}

.content-wrapper {
  gap: 2rem;
  display: flex;
  padding: 1.25rem;
  margin-top: 1rem;
  flex-direction: column;
}

.heading-wrapper {
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
}

.heading1 {
  line-height: 1;
  font-size: 2.5rem;
  color: var(--blue-800);
}

.heading-wrapper p,
.features-list li {
  line-height: 1.5;
}

.features-list {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.features-list li {
  gap: 1rem;
  display: flex;
  align-items: start;
}

form {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

form div.label-wrapper {
  display: flex;
  margin-bottom: 0.75rem;
  justify-content: space-between;
}

label,
span.invalid {
  display: block;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--blue-800);
}

span.invalid {
  display: none;
  color: var(--red);
}

span.invalid.show,
input[type='email'].invalid.show {
  display: block;
}

input[type='email'] {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
  padding-left: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

input[type='email']:focus-visible {
  outline: none;
  border: 1px solid var(--grey);
}

input[type='email']::placeholder {
  font-size: 1rem;
  color: var(--grey);
  font-family: var(--font-primary);
}

input[type='email']:user-invalid {
  border: 1px solid var(--red);
  background-color: rgba(255, 0, 0, 0.1);
}

form div:has(input[type='email']:user-invalid) span.invalid {
  display: block;
}

form div:has(input[type='email']:focus) span.invalid {
  display: none !important;
}

input[type='email']:focus {
  outline: none;
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

input[type='submit'],
button.dismiss {
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  font-size: 0.875rem;
  color: var(--white);
  background-color: var(--blue-800);
}

input[type='submit']:hover,
button.dismiss:hover {
  transition: 0.3s;
  background-image: linear-gradient(90deg, #f24e75, #ff6250, #fe6a3a);
  box-shadow:
    0px 5px 20px #f24e7450,
    0px 5px 20px #ff625050,
    0px 5px 20px #fe6a3a50;
}

.success-message-wrapper {
  top: 0;
  gap: 2rem;
  display: none;
  height: 100dvh;
  padding: 1.5rem;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  animation: showModal 0.5s forwards;
}

.success-message-wrapper.show {
  display: flex;
  position: absolute;
}

.success-message-wrapper div {
  gap: 1.5rem;
  display: flex;
  margin-top: 7rem;
  align-items: start;
  flex-direction: column;
}

.success-message-wrapper div p {
  line-height: 1.5;
  color: var(--blue-800);
}

button.dismiss {
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  body {
    padding: 2rem;
    min-height: 100dvh;
    min-width: 100dvw;
    background-color: var(--blue-700);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main#component {
    height: 40rem;
    max-width: 950px;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 40px;
    gap: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 40px var(--blue-800);
  }

  picture.illustration {
    order: 1;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color: black;
  }

  picture.illustration img,
  picture.illustration source {
    height: 100%;
    min-height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }

  .content-wrapper {
    margin-top: 0;
    padding: 0 0 0 1.25rem;
  }

  .success-message-wrapper {
    top: initial;
    width: 28rem;
    height: 30rem;
    padding: 3rem;
    position: absolute;
    border-radius: 30px;
    box-shadow: 0px 0px 40px var(--blue-800);
  }

  .success-message-wrapper div {
    margin-top: initial;
  }

  .success-message-wrapper img {
    height: 50px;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 890px) {
  .heading1 {
    font-size: 3rem;
  }

  .content-wrapper {
    padding: 2rem;
  }
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translate3d(0px, 0px, -100px);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
